*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
img{
    width: 100%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1{
    font-family: 'Orbitron';
    font-size: 8rem;
    letter-spacing: 5px;
    color: white;
}
h2{
    font-family: 'Orbitron';
    font-size: 3rem;
    letter-spacing: 5px;
    color: white;
    padding: 10px;
}
h3{
    font-family: 'Orbitron';
    font-size: 3rem;
    letter-spacing: 5px;
    color: white;
    padding: 10px;
}
h4{
    font-size: 3rem;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}